# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
city_data_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,hami,42.8000,93.4500,55.87,20,2,2.98,CN,1677997839
1,bubaque,11.2833,-15.8333,75.00,68,85,9.95,GW,1677997840
2,kapaa,22.0752,-159.3190,73.72,88,75,13.80,US,1677997840
3,barrow,71.2906,-156.7887,-18.38,69,20,21.85,US,1677997841
4,nikolskoye,59.7035,30.7861,28.80,94,100,1.92,RU,1677997841

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
locations = city_data_df[['Lat','Lng']]

humidity = city_data_df['Humidity']

In [7]:
gmaps.configure(api_key=g_key)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
ideal_city_df = city_data_df.copy()
ideal_city_df = ideal_city_df.loc[(ideal_city_df['Cloudiness'] < 20) 
                                  & (ideal_city_df['Max Temp'] > 65) 
                                  & (ideal_city_df['Max Temp'] < 90)
                                  & (ideal_city_df['Humidity'] < 50)
                                  & (ideal_city_df['Wind Speed'] < 10)]
ideal_city_df.dropna(inplace=True)
ideal_city_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,gwadar,25.1216,62.3254,80.22,48,0,6.69,PK,1677997843
12,jijiga,9.3500,42.8000,73.13,36,12,7.52,ET,1677997845
17,victoria,22.2855,114.1577,75.25,42,0,1.99,HK,1677997584
69,lalsot,26.5667,76.3333,87.64,23,0,7.09,IN,1677997873
115,hurghada,27.2574,33.8129,73.44,21,0,0.00,EG,1677997725

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure